<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DENSAULYQ</title>
</head>
<body style="margin:0px; width:100%;height:100%;min-height:100vh; background: url(https://images.unsplash.com/photo-1543761048-3b3c96e6e8bf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);background-size: cover; background-repeat: no-repeat;">
<h1 style="color: red; text-align: center; font-size: 60px">DENSAULYQ - Сеть удобных фитнес клубов</h1>
<a href="/api/gym_lists/" style="color: white; border:1px solid white; font-size: 30px" >Gyms</a><br>
<a href="/api/gym_lists/1/coach_list/" style="color: white; border:1px solid white;font-size: 30px">Coaches</a><br>
<a href="/api/gym_lists/1/client_list/" style="color: white; border:1px solid white; font-size: 30px">Clients</a><br><br>
<p style="color: blue; text-align: left; font-size: 35px">Высокопрофессиональные тренеры,</p>
<p style="color: blue; text-align: left; font-size: 35px">современное оборудование,</p>
<p style="color: blue; text-align: left; font-size: 35px">высокий сервис – </p>
<p style="color: blue; text-align: left; font-size: 35px">все это делает FitnessBlitz идеальным</p>
<p style="color: blue; text-align: left; font-size: 35px">местом для достижения Ваших целей!</p>
</body>
</html>